spring:
  application:
    name: CORE
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format-sql: true

server:
  port: 8075

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka